#output {
	width: 120px;
	height: 25px;
	font-size: 44px;
}


body {
  width: 80%;
  padding: 100px;
  margin: 20px auto;
  max-width: 180px;
  font-family: 'Roboto', sans-serif;
}


h1 {
	letter-spacing: 8px;
	font-size: 15px;
	margin-left: 9px;
	text-transform: uppercase;
	color: #b0b7b1;
}


#start, #reset {
	border-radius: 50px;
	height: 75px;
	width: 75px;
	background: #537aad;
	border: none;
	color: white;
	margin: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}


#reset {
	background: #e0851d;
}


#start {
	background: #537aad;
}